<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-3">
<title>User Form</title>
</head>
<body>
<h1> HTML_FORM FinTech Net Banking Disbursement Request</h1>
<form action="register" method="post">
    <label for="partner_code">Partner Code  :</label> <br/>
    <input type="text" name="partner_code"/> <br/>

    <label for="partner_uname">Partner UserName  :</label> <br/>
    <input type="text" name="partner_uname"/> <br/>

    <label for="partner_pwd">Partner Pwd  :</label> <br/>
    <input type="text" name="partner_pwd"/> <br/>

    <label for="TrnRefNo_Partner">Reference Number  :</label> <br/>
    <input type="text" name="TrnRefNo_Partner"/> <br/>
    <!--<label for="gender">Gender :</label> <br/>
    <select name="gender">
        <option value=""></option>
        <option value="male">Male</option>
        <option value="female">Female</option>
    </select>
    <br/>-->
    <label for="Product">Product :</label> <br/>
    <input type="text" name="Product"/> <br/>

    <label for="BTrnRefNo">BTrn Reference Number  :</label> <br/>
    <input type="text" name="BTrnRefNo"/> <br/>

    <label for="Topup">TopUp  :</label> <br/>
    <input type="text" name="Topup"/> <br/>

    <label for="OutstandingAmt">OutStanding AMount  :</label> <br/>
    <input type="text" name="OutstandingAmt"/> <br/>

    <label for="LoanAmount">Loan Amount  :</label> <br/>
    <input type="text" name="LoanAmount"/> <br/>

    <label for="Tenor">Tenor  :</label> <br/>
    <input type="text" name="Tenor"/> <br/>

    <label for="InterestRate">InterestRate :</label> <br/>
    <input type="text" name="InterestRate"/> <br/>

    <label for="EMI">EMI  :</label> <br/>
    <input type="text" name="EMI"/> <br/>

    <label for="PurposeLoan">PurposeLoan  :</label> <br/>
    <input type="text" name="PurposeLoan"/> <br/>

    <label for="ProcessingFees">ProcessingFees  :</label> <br/>
    <input type="text" name="ProcessingFees"/> <br/>

    <label for="StampDuty">StampDuty :</label> <br/>
    <input type="text" name="StampDuty"/> <br/>

    <label for="SD_Type">SD_Type  :</label> <br/>
    <input type="text" name="SD_Type"/> <br/>

    <label for="PreEMIInterest">PreEMIInterest  :</label> <br/>
    <input type="text" name="PreEMIInterest"/> <br/>

    <label for="amountPayable">Amount Payable  :</label> <br/>
    <input type="text" name="amountPayable"/> <br/>

    <label for="insuranceTypeCreditProtect">insuranceTypeCreditProtect  :</label> <br/>
    <input type="text" name="insuranceTypeCreditProtect"/> <br/>

    <label for="creditProtectPremiumValue">creditProtectPremiumValue  :</label> <br/>
    <input type="text" name="creditProtectPremiumValue"/> <br/>

    <label for="rtoFlag">rtoFlag  :</label> <br/>
    <input type="text" name="rtoFlag"/> <br/>

    <label for="rtoValue">rtoValue  :</label> <br/>
    <input type="text" name="rtoValue"/> <br/>

    <label for="insuranceTypeErgo">insuranceTypeErgo  :</label> <br/>
    <input type="text" name="insuranceTypeErgo"/> <br/>

    <label for="ergoPremiumValue">ergoPremiumValue  :</label> <br/>
    <input type="text" name="ergoPremiumValue"/> <br/>

    <label for="insuranceTypeDealer">insuranceTypeDealer  :</label> <br/>
    <input type="text" name="insuranceTypeDealer"/> <br/>

    <label for="dealerPremiumValue">dealerPremiumValue  :</label> <br/>
    <input type="text" name="dealerPremiumValue"/> <br/>

    <label for="insuranceTypeSarvSuraksha">insuranceTypeSarvSuraksha  :</label> <br/>
    <input type="text" name="insuranceTypeSarvSuraksha"/> <br/>

    <label for="sarvSurakshaPremiumValue">sarvSurakshaPremiumValue  :</label> <br/>
    <input type="text" name="sarvSurakshaPremiumValue"/> <br/>

    <label for="maximumLoanCanBeFundedTowardsCar">maximumLoanCanBeFundedTowardsCar  :</label> <br/>
    <input type="text" name="maximumLoanCanBeFundedTowardsCar"/> <br/>

    <label for="marginMoneyPaidToDealer">marginMoneyPaidToDealer  :</label> <br/>
    <input type="text" name="marginMoneyPaidToDealer"/> <br/>

    <label for="identificationMark">identificationMark  :</label> <br/>
    <input type="text" name="identificationMark"/> <br/>

    <label for="totalPremium">totalPremium  :</label> <br/>
    <input type="text" name="totalPremium"/> <br/>

    <label for="sumAssured">sumAssured  :</label> <br/>
    <input type="text" name="sumAssured"/> <br/>

    <label for="nomineeTitle">nomineeTitle  :</label> <br/>
    <input type="text" name="nomineeTitle"/> <br/>

    <label for="nomineeFirstName">nomineeFirstName  :</label> <br/>
    <input type="text" name="nomineeFirstName"/> <br/>

    <label for="nomineeLastName">nomineeLastName  :</label> <br/>
    <input type="text" name="nomineeLastName"/> <br/>

    <label for="nomineeDOB">nomineeDOB  :</label> <br/>
    <input type="date" name="nomineeDOB"/> <br/>

    <label for="nomineeGender">Gender  :</label> <br/>
    <select name="gender">
        <option value=""></option>
        <option value="male">Male</option>
        <option value="female">Female</option>
    </select>
    <br/>
    <label for="nomineeRelationshipWithMember">Relation With Membaer  :</label> <br/>
    <input type="text" name="nomineeRelationshipWithMember"/> <br/>

    <label for="apointeeName">apointeeName  :</label> <br/>
    <input type="text" name="apointeeName"/> <br/>

    <label for="apointeeDOB">Date Of Birth  :</label> <br/>
    <input type="date" name="apointeeDOB"/> <br/>

    <label for="apointeeGender">apointeeGender  :</label> <br/>
    <select name="gender">
        <option value=""></option>
        <option value="male">Male</option>
        <option value="female">Female</option>
    </select>
    <br/>

    <label for="apointeeName">apointeeName  :</label> <br/>
    <input type="text" name="apointeeName"/> <br/>

    <label for="apointeeRelationshipWithNominee">apointeeRelationshipWithNominee  :</label> <br/>
    <input type="text" name="apointeeRelationshipWithNominee"/> <br/>

    <label for="insuranceAgreement1">insuranceAgreement1  :</label> <br/>
    <input type="text" name="insuranceAgreement1"/> <br/>

    <label for="insuranceAgreement2">insuranceAgreement2  :</label> <br/>
    <input type="text" name="insuranceAgreement2"/> <br/>

    <label for="insuranceAgreement3">insuranceAgreement3  :</label> <br/>
    <input type="text" name="insuranceAgreement3"/> <br/>

    <label for="dobFlag">dobFlag  :</label> <br/>
    <input type="text" name="dobFlag"/> <br/>

    <label for="dobValue">dobValue  :</label> <br/>
    <input type="text" name="dobValue"/> <br/>

    <label for="emailIDFlag">emailIDFlag  :</label> <br/>
    <input type="email" name="emailIDFlag"/> <br/>

    <label for="emailIDValue">emailIDValue  :</label> <br/>
    <input type="email" name="emailIDValue"/> <br/>

    <label for="officeReqFlag">officeReqFlag  :</label> <br/>
    <input type="text" name="officeReqFlag"/> <br/>

    <label for="officeAddress1">officeAddress1  :</label> <br/>
    <input type="text" name="officeAddress1"/> <br/>

    <label for="officeAddress2">officeAddress2  :</label> <br/>
    <input type="text" name="officeAddress2"/> <br/>

    <label for="officeAddress3">officeAddress3  :</label> <br/>
    <input type="text" name="officeAddress3"/> <br/>

    <label for="officeCity">officeCity  :</label> <br/>
    <input type="text" name="officeCity"/> <br/>

    <label for="officeState">officeState  :</label> <br/>
    <input type="text" name="officeState"/> <br/>

    <label for="officePIN">officePIN  :</label> <br/>
    <input type="number" name="officePIN"/> <br/>

    <label for="companyName"> companyName :</label> <br/>
    <input type="text" name="companyName"/> <br/>

    <label for="alternateAddress"> alternateAddress :</label> <br/>
    <input type="text" name="alternateAddress"/> <br/>

    <label for="alternateAddress1"> alternateAddress1 :</label> <br/>
    <input type="text" name="alternateAddress1"/> <br/>

    <label for="alternateAddress2"> alternateAddress2 :</label> <br/>
    <input type="text" name="alternateAddress2"/> <br/>

    <label for="alternateAddress3"> alternateAddress3 :</label> <br/>
    <input type="text" name="alternateAddress3"/> <br/>

    <label for="alternateCity"> alternateCity :</label> <br/>
    <input type="text" name="alternateCity"/> <br/>

    <label for="alternateState"> alternateState :</label> <br/>
    <input type="text" name="alternateState"/> <br/>

    <label for="alternatePIN"> alternatePIN :</label> <br/>
    <input type="text" name="alternatePIN"/> <br/>

    <label for="referenceName"> referenceName :</label> <br/>
    <input type="text" name="referenceName"/> <br/>

    <label for="referenceMobile"> referenceMobile :</label> <br/>
    <input type="text" name="referenceMobile"/> <br/>

    <label for="maritalStatusFlag"> maritalStatusFlag :</label> <br/>
    <input type="text" name="maritalStatusFlag"/> <br/>

    <label for="maritalStatusValue"> maritalStatusValue :</label> <br/>
    <input type="text" name="maritalStatusValue"/> <br/>

    <label for="genderFlag"> genderFlag :</label> <br/>
    <input type="text" name="genderFlag"/> <br/>

    <label for="genderValue"> genderValue :</label> <br/>
    <input type="text" name="genderValue"/> <br/>

    <label for="ltv"> ltv :</label> <br/>
    <input type="text" name="ltv"/> <br/>

    <label for="emiStartDate"> emiStartDate :</label> <br/>
    <input type="date" name="emiStartDate"/> <br/>

    <label for="emiEndDate"> emiEndDate :</label> <br/>
    <input type="date" name="emiEndDate"/> <br/>

    <label for="vehicleCity"> vehicleCity :</label> <br/>
    <input type="text" name="vehicleCity"/> <br/>

    <label for="manufacturerName"> manufacturerName :</label> <br/>
    <input type="text" name="manufacturerName"/> <br/>

    <label for="make"> make :</label> <br/>
    <input type="text" name="make"/> <br/>

    <label for="model"> model :</label> <br/>
    <input type="text" name="model"/> <br/>

    <label for="exShowroomPrice"> exShowroomPrice :</label> <br/>
    <input type="text" name="exShowroomPrice"/> <br/>

    <label for="exShowroomPriceQuotedByDealer"> exShowroomPriceQuotedByDealer :</label> <br/>
    <input type="text" name="exShowroomPriceQuotedByDealer"/> <br/>

    <label for="lessDiscount"> lessDiscount :</label> <br/>
    <input type="text" name="lessDiscount"/> <br/>

    <label for="finalCarPriceAfterDiscount"> finalCarPriceAfterDiscount :</label> <br/>
    <input type="text" name="finalCarPriceAfterDiscount"/> <br/>

    <label for="dealerName"> dealerName :</label> <br/>
    <input type="text" name="dealerName"/> <br/>

    <label for="dealerCity"> dealerCity :</label> <br/>
    <input type="text" name="dealerCity"/> <br/>

    <label for="dealerCode"> dealerCode :</label> <br/>
    <input type="text" name="dealerCode"/> <br/>

    <label for="declarationRelationshipWithDirectorsofBanks"> declarationRelationshipWithDirectorsofBanks :</label> <br/>
    <input type="text" name="declarationRelationshipWithDirectorsofBanks"/> <br/>

    <label for="declarationDetail"> declarationDetail :</label> <br/>
    <input type="text" name="declarationDetail"/> <br/>

    <label for="mostImportantTermsAndConditions"> mostImportantTermsAndConditions :</label> <br/>
    <input type="text" name="mostImportantTermsAndConditions"/> <br/>

    <label for="acceptanceITAct"> acceptanceITAct :</label> <br/>
    <input type="text" name="acceptanceITAct"/> <br/>

    <label for="acceptanceFeesCharges"> acceptanceFeesCharges :</label> <br/>
    <input type="text" name="acceptanceFeesCharges"/> <br/>

    <label for="consentPromotionalOffers"> consentPromotionalOffers :</label> <br/>
    <input type="text" name="consentPromotionalOffers"/> <br/>

    <label for="agreement"> agreement :</label> <br/>
    <input type="text" name="agreement"/> <br/>

    <label for="motorInsuranceTermsConditions"> motorInsuranceTermsConditions :</label> <br/>
    <input type="text" name="motorInsuranceTermsConditions"/> <br/>

    <label for="acceptanceSarvSurakshaTermsConditions"> acceptanceSarvSurakshaTermsConditions :</label> <br/>
    <input type="text" name="acceptanceSarvSurakshaTermsConditions"/> <br/>

    <label for="profession"> profession :</label> <br/>
    <input type="text" name="profession"/> <br/>

    <label for="constitution"> constitution :</label> <br/>
    <input type="text" name="constitution"/> <br/>

    <label for="collateralCharges"> collateralCharges :</label> <br/>
    <input type="text" name="collateralCharges"/> <br/>

    <label for="udf1"> udf1 :</label> <br/>
    <input type="text" name="udf1"/> <br/>

    <label for="udf2"> udf2 :</label> <br/>
    <input type="text" name="udf2"/> <br/>

    <label for="udf3"> udf3 :</label> <br/>
    <input type="text" name="udf3"/> <br/>

    <label for="udf4"> udf4 :</label> <br/>
    <input type="text" name="udf4"/> <br/>

    <label for="udf5"> udf5 :</label> <br/>
    <input type="text" name="udf5"/> <br/>

    <label for="udf6"> udf6 :</label> <br/>
    <input type="text" name="udf6"/> <br/>

    <label for="udf7"> udf7 :</label> <br/>
    <input type="text" name="udf7"/> <br/>

    <label for="udf8"> udf8 :</label> <br/>
    <input type="text" name="udf8"/> <br/>

    <label for="udf9"> udf9 :</label> <br/>
    <input type="text" name="udf9"/> <br/>

    <label for="udf10"> udf10 :</label> <br/>
    <input type="text" name="udf10"/> <br/>

    <label for="udf11"> udf11 :</label> <br/>
    <input type="text" name="udf11"/> <br/>

    <label for="udf12"> udf12 :</label> <br/>
    <input type="text" name="udf12"/> <br/>

    <label for="udf13"> udf13 :</label> <br/>
    <input type="text" name="udf13"/> <br/>

    <label for="udf14"> udf14 :</label> <br/>
    <input type="text" name="udf14"/> <br/>

    <label for="udf15"> udf15 :</label> <br/>
    <input type="text" name="udf15"/> <br/>

    <label for="endSuccessResponseURL"> endSuccessResponseURL :</label> <br/>
    <input type="text" name="endSuccessResponseURL"/> <br/>

    <label for="endErrorResponseURL"> endErrorResponseURL :</label> <br/>
    <input type="text" name="endErrorResponseURL"/> <br/>

    <button type="submit">Submit</button>
</form>
<br/>

</body>
</html>